!! aterm config
aterm*borderwidth:	0
aterm*foreground:	#FFFFFF

!! urxvt config
URxvt*termName: rxvt-unicode
! URxvt*termName: xterm
!URxvt*background:  #233B66
!URxvt*foreground:  #FFFFFF
URxvt*background:  gray0 
URxvt*foreground: 2
!LimeGreen 

URxvt*scrollBar_right:	false
URxvt*scrollBar:	false
! URxvt*borderLess:	true

!! this is the pseudo-transparency
! URxvt*inheritPixmap:	true
!! This is the tinting color of the pseudo transparent background image
! URxvt*tint:		white

URxvt*geometry:		84x24


! URxvt*font: xft:terminus-font:size=12x24

! URxvt*font: xft:monospace:bold:size=10
!URxvt*font: xft:Liberation Mono:bold:size=10
URxvt*font: xft:Source Code Pro for Powerline:semi-bold:size=10

!! This only makes sense if you enable tabbed extension
! URxvt.tabbed.tabbar-fg: 2
! URxvt.tabbed.tabbar-bg: #000000
! URxvt.tabbed.tab-fg:    #000000
! URxvt.tabbed.tab-bg:    2


 URxvt*color0:      #000000
 URxvt*color1:      #A80000
 URxvt*color2:      #00A800
 URxvt*color3:      #A85400
! URxvt*color4:      #0000A8
! URxvt*color5:      #A800A8
! URxvt*color6:      #00A8A8
! URxvt*color7:      #A8A8A8
! URxvt*color8:      #545054
! URxvt*color9:      #F85450
! URxvt*color10:     #50FC50
! URxvt*color11:     #F2FC50
! URxvt*color12:     #5054F8
! URxvt*color13:     #F854F8
! URxvt*color14:     #50FCF8
! URxvt*color15:     #F8FCF8

! URxvt.perl-ext-common: tabbed,keyboard-select,fullscreen
URxvt.perl-ext-common: keyboard-select,fullscreen
URxvt.keysym.M-Escape: perl:keyboard-select:activate
! URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.keysym.M-s: perl:keyboard-select:activate
URxvt.keysym.M-F11: perl:fullscreen:switch

!! xterm config
XTerm*background: gray0
XTerm*foreground: LimeGreen
XTerm*scrollBar: false
XTerm*font: xft:Source Code Pro for Powerline:semi-bold:size=10

