[user]
    email = ferenc.gm@gmail.com
    name = Ferenc-
[push]
    default = tracking
[merge]
    tool = vimdiff
    conflictstyle = diff3
[mergetool]
    prompt = false
    keepBackup = false
[mergetool "vimdiff"]
    cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED
[core]
    editor = nvim
    preloadindex = true
[color]
    ui = true
[alias]
    show-difftool = "!sh -c 'git difftool $1^ $1 --' -"
    foo = !git show-difftool
    lol = log --graph --decorate --oneline
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[difftool "vimdiff"]
    cmd = nvim -d $LOCAL $REMOTE
[http]
    sslVerify = true
